<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name= "connectingString" connectionString="Data Source = DESKTOP-DMHN0DR\SQLEXPRESS; Initial Catalog = CompanieTelefonicaBD; Integrated Security = True"/>
	</connectionStrings>
	<appSettings>
		
		<add key="title" value="Relatie 1-n" />
		<add key="ParentTableName" value="Sedii"/>
		<add key="ChildTableName" value="Produse"/>
		<add key="label1" value="Tabela parinte" />
		<add key="label2" value="Tabela fiu" />
		<add key="label3" value="numar_inregistrare_produse" />
		<add key="label4" value="denumire" />
		<add key="label5" value="descriere" />
		<add key="label6" value="pret" />
		<add key="label7" value="perioada_de_garantie" />
		<add key="legatura" value ="@numar_inregistrare_sediu"/>
		<add key="string1" value ="@numar_inregistrare_produse" />
		<add key="string2" value ="@denumire" />
		<add key="string3" value ="@descriere" />
		<add key="string4" value ="@pret" />
		<add key="string5" value ="@perioada_de_garantie" />

		<add key="1" value ="numar_inregistrare_produse" />
		<add key="2" value ="numar_inregistrare_sediu"/>
		<add key="3" value ="denumire" />
		<add key="4" value ="descriere" />
		<add key="5" value ="pret" />
		<add key="6" value ="perioada_de_garantie" />

		<add key="ColumnNumber" value ="6" />
		<add key="ChildColumnNames" value ="numar_inregistrare_produse, numar_inregistrare_sediu, denumire, descriere, pret, perioada_de_garantie"/>
		<add key="ColumnNamesInsertParameters" value ="@numar_inregistrare_produse, @numar_inregistrare_sediu, @denumire, @descriere, @pret, @perioada_de_garantie"/>
		<add key="selectParent" value="SELECT * FROM Sedii;" />
		<add key="selectChild" value="SELECT * FROM Produse;" />
		<add key="selectSpecial" value="SELECT * FROM Produse WHERE Produse.numar_inregistrare_sediu = @numar_inregistrare_sediu;" />
		<add key="insert" value="INSERT INTO Produse (numar_inregistrare_produse, numar_inregistrare_sediu, denumire, descriere, pret, perioada_de_garantie) VALUES (@numar_inregistrare_produse, @numar_inregistrare_sediu, @denumire, @descriere, @pret, @perioada_de_garantie);" />
		<add key="update" value="UPDATE Produse SET perioada_de_garantie = @perioada_de_garantie WHERE numar_inregistrare_produse = @numar_inregistrare_produse;" />
		<add key="delete" value="DELETE FROM Produse WHERE numar_inregistrare_produse = @numar_inregistrare_produse;" />	
		
		<!--
		<add key="title" value="Relatie 1-n" />
		<add key="ParentTableName" value="Sedii"/>
		<add key="ChildTableName" value="Angajati"/>
		<add key="label1" value="Tabela parinte" />
		<add key="label2" value="Tabela fiu" />
		<add key="label3" value="id_angajat" />
		<add key="label4" value="functie" />
		<add key="label5" value="nume" />
		<add key="label6" value="prenume" />
		<add key="label7" value="numar_telefon" />
		<add key="legatura" value ="@numar_inregistrare_sediu" />
		<add key="string1" value ="@id_angajat" />
		<add key="string2" value ="@functie" />
		<add key="string3" value ="@nume" />
		<add key="string4" value ="@prenume" />
		<add key="string5" value ="@numar_telefon" />
		<add key="ColumnNumber" value ="6" />
		<add key="ColumnNamesInsertParameters" value ="@id_angajat, @numar_inregistrare_sediu, @functie, @nume, @prenume, @numar_telefon" />
		<add key="selectParent" value="SELECT * FROM Sedii;" />
		<add key="selectChild" value="SELECT * FROM Angajati;" />
		<add key="selectSpecial" value="SELECT * FROM Angajati WHERE Angajati.numar_inregistrare_sediu = @numar_inregistrare_sediu;" />
		<add key="insert" value="INSERT INTO Angajati (id_angajat, numar_inregistrare_sediu, functie, nume, prenume, numar_telefon) VALUES (@id_angajat, @numar_inregistrare_sediu, @functie, @nume, @prenume, @numar_telefon);" />
		<add key="update" value="UPDATE Angajati SET numar_telefon = @numar_telefon WHERE id_angajat = @id_angajat;" />
		<add key="delete" value="DELETE FROM Angajati WHERE id_angajat = @id_angajat;" />
		-->
	</appSettings>
</configuration>
